<%# <h1>New Review</h1>

<%= render 'form', review: @review %>

<%# <%= link_to 'Back', reviews_path %>

<br>
<div align="center">
    <h1 class="title is-1">Upload a new review</h1>
        <div class="container">
            <div class="box has-background-dark">
                <%= form_with(model: @review, method: :post) do |form| %>

                <div class="title is-5 has-text-white">
                    <%= form.label :Review %>
                    <br>
                    <%= form.text_field :title %>
                    <br>
                    <%= form.text_field :content %>
                </div>

                <div>
                    <%= form.number_field :course_id, id: :review_course_id, value: @course.id, type: :hidden %>
                </div>

                <div>
                    <%= form.number_field :user_id, id: :review_user_id, value: current_user.id, type: :hidden %>
                </div>

                <div>
                    <%= form.submit 'Create review' %>
                </div>

            <% end %>
            <%= link_to 'Go back', course_path(:id => @course.id) %>
        </div>
